# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.RJDev.Core.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Work\Git\RJDev.Core\RJDev.Core\.idea\.idea.RJDev.Core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
